[submodule "vim/pack/asidlo/start/nerdtree"]
	path = vim/pack/asidlo/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/asidlo/start/vim-fugitive"]
	path = vim/pack/asidlo/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/asidlo/start/vim-gitgutter"]
	path = vim/pack/asidlo/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/asidlo/start/comfortable-motion"]
	path = vim/pack/asidlo/start/comfortable-motion
	url = https://github.com/yuttie/comfortable-motion.vim
[submodule "vim/pack/asidlo/start/tabular"]
	path = vim/pack/asidlo/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/asidlo/start/lightline"]
	path = vim/pack/asidlo/start/lightline
	url = https://github.com/itchyny/lightline.vim
